.App {
  border: solid;
  border-color: red;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 30px;
}

.item {
  padding: 5px 30px;
  color: whitesmoke;
  height: 100px;
}

.i-1 {
  background-color: rgb(255, 139, 158);
}
  
.i-2 {
  background-color: green;
  display: flex;
}

.i-3 {
  background-color: orange
}

.i-4 {
  background-color: blue;
}

.i-5 {
  background-color: rgb(255, 139, 158);
}
  
.i-6 {
  background-color: green;
  display: flex;
}

.i-7 {
  background-color: orange
}

.i-8 {
  background-color: blue;
}




/* .item-1 {
  background-color: rgb(24, 242, 242)
}

.item-2 {
  background-color: rgb(171, 13, 171);
}

.item-3 {
  background-color: rgb(41, 197, 41)
} */